<%- include('../includes/header.ejs') %>
<form class="login-form" action="/new-password" method="post">
    <%- include('../includes/error-messges.ejs') %>

    <div class="form-group">
        <label for="imageUrl">用户密码</label>
        <input type="password" class="form-control" name="newPassword" aria-describedby="passwordHelp" />
        <small id="passwordHelp" class="form-text text-muted">请输入新密码</small>
    </div>
    <input type="hidden" name="passwordToken" value="<%=passwordToken%>" />
    <input type="hidden" name="userId" value="<%=userId%>" />
    <input type="hidden" name="_csrf" value="<%=csrfToken%>" />
    <button type="submit" class="btn btn-primary">确认密码</button>
</form>
<script>
    console.log(document.cookie);
</script>
<%- include('../includes/footer.ejs') %>
