<%- include('../includes/header.ejs') %>

<form action="/admin/<% if(editing) { %>edit-product<% }else{  %>add-product<% } %>" method="post" novalidate enctype="multipart/form-data">
    <%- include('../includes/error-messges.ejs') %>
    <div class="form-group">
        <label for="title">产品标题</label>
        <input
            type="text"
            class="form-control <%= validationErrors.find(e => e.param === 'title') ? 'is-invalid' : ''%>"
            name="title"
            aria-describedby="titleHelp"
            value="<% if(editing || hasErrors){%><%=product.title%><%}%>"
        />
        <small id="titleHelp" class="form-text text-muted">请输入标题内容</small>
    </div>

    <!-- <div class="form-group">
        <label for="imageUrl">产品图片</label>
        <input
            type="text"
            class="form-control <%= validationErrors.find(e => e.param === 'imageUrl') ? 'is-invalid' : ''%>"
            name="imageUrl"
            aria-describedby="imageUrlHelp"
            value="<% if(editing  || hasErrors) { %><%= product.imageUrl %><%}%>"
        />
        <small id="imageUrlHelp" class="form-text text-muted">请输入产品图片</small>
    </div> -->
    <div class="form-group">
        <label for="image">产品图片</label>
        <input type="file" class="form-control" name="image" aria-describedby="imageHelp" />
        <small id="imageHelp" class="form-text text-muted">请输入产品图片</small>
    </div>

    <div class="form-group">
        <label for="price">产品价格</label>
        <input
            type="number"
            class="form-control <%= validationErrors.find(e => e.param === 'price') ? 'is-invalid' : ''%>"
            name="price"
            aria-describedby="priceHelp"
            value="<% if(editing  || hasErrors) { %><%= product.price %><%}%>"
        />
        <small id="priceHelp" class="form-text text-muted">请输入产品价格</small>
    </div>

    <div class="form-group">
        <label for="description">产品描述</label>
        <textarea
            class="form-control <%= validationErrors.find(e => e.param === 'description') ? 'is-invalid' : ''%>"
            name="description"
            id="description"
            rows="4"
        >
<% if(editing  || hasErrors) { %><%= product.description %><%}%></textarea
        >
        <small id="descriptionHelp" class="form-text text-muted">请输入产品描述</small>
    </div>
    <% if(editing) { %>
    <input type="hidden" name="productId" value="<%= product._id %>" />
    <% } %>
    <input type="hidden" name="_csrf" value="<%=csrfToken%>" />
    <button type="submit" class="btn btn-primary"><% if(editing) { %> 修改产品 <% } else { %>添加产品<% } %></button>
</form>
<%- include('../includes/footer.ejs') %>
