<%- include('../includes/header.ejs') %>
<h2>购物车</h2>
<hr class="divider" />

<% if(cartProducts.length > 0){ %>
<ul class="list-unstyled">
    <% cartProducts.forEach(item => { %>
    <li class="media border-bottom mt-3">
        <img src="/<%=item.productId.imageUrl%>" class="mr-3" style="height: 60px;" alt="<%= item.productId.title %> " />
        <div class="media-body">
            <h5 class="mt-0 mb-1"><%= item.productId.title %></h5>
            <small>价格：￥<%= item.productId.price %></small>
            <p><%= item.productId.description %></p>
        </div>
        <div class="d-flex justify-content-between align-items-center">
            <span class="badge badge-primary badge-pill mr-3 mt-2"><%= item.quantity %> </span>
            <form action="/cart-delete-product" method="post">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                <input type="hidden" name="productId" value="<%= item.productId._id %>" />
                <button class="btn btn-danger" type="submit">删除产品</button>
            </form>
        </div>
    </li>
    <% }) %>
    <center>
        <form action="/create-order" method="post">
            <input type="hidden" name="_csrf" value="<%=csrfToken%>" />
            <button type="submit" class="btn btn-warning">生成订单</button>
        </form>
    </center>
</ul>
<% } else {%>
<h4>暂无产品</h4>
<% } %> <%- include('../includes/footer.ejs')%>
